.navbar {
  background-color: transparent;  
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  position: fixed;                 
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  color: grey;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-right: 50px;
  padding: 0;
}

.nav-links a {
  color: grey;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
}
  .home-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
    background-color: grey;
    min-height: 80vh;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .text-section {
    flex: 1;
    min-width: 280px;
  }
  
  .text-section h1 {
    font-size: 2.5rem;
    color: #111827;
    margin-bottom: 10px;
  }
  
  .text-section p {
    color: #374151;
    line-height: 1.6;
    font-size: 1.1rem;
  }
  
  .image-section {
    flex: 1;
    min-width: 280px;
    display: flex;
    justify-content: center;
  }
  
  .profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1f2937;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   
  }
  
  .contact-container {
    max-width:900px;
    max-height:none;
    margin: 80px auto;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 12px;
 
  }
  
  .contact-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: grey;
  }
  
  .contact-item {
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
  }
  
  .contact-item span {
    font-weight: bold;
    color: whitesmoke;
    margin-right: 8px;
  }
  
  .contact-item a {
    color: #0073e6;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .contact-item a:hover {
    color: #004bad;
  }
  .about-section {
    max-width: 800px;
    margin: 60px auto;
    padding: 40px;
    background:  #1f2937;
    color: grey;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .about-section h2 {
    font-size: 2rem;
    color: grey;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-section p {
    line-height: 1.8;
    margin-bottom: 16px;
    font-size: 1.05rem;
  }
  
